<!DOCTYPE html>
<html>
  <head>
    <title>pugLife</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <!--STYLES END-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/Character.js"></script>
    <script src="/js/GameBoard.js"></script>
    <script src="/js/modalCtrl.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body ng-app="GameApp">
    <%- body %>
  </body>
</html>
